<div class="card">
  <h5>Upload Image</h5>
  <div class="p-grid p-fluid">
    <div class="text-center drop-zone" (fileDropped)="onFileDropped($event)">
      <input class="form-control" type="file" (change)="onChange($event)" />
    </div>
    <h5 class="error">{{error}}</h5>
    <div class="container" *ngIf="loading">
      <h3>Loading ...</h3>
    </div>
    <div class="container text-center jumbotron" *ngIf="shortLink">
      <h2>Visit Here</h2>
      <a href="{{ shortLink }}">{{ shortLink }}</a>
    </div>
  </div>
</div>
<div class="button-wrapper">
  <button pButton pRipple label="upload" [disabled]="shortLink" icon="pi pi-upload" iconPos="left" (click)="onUpload()"></button>
  <button class="p-button-success" [disabled]="!shortLink" pButton pRipple label="Next" icon="pi pi-arrow-right"
    iconPos="left" (click)="updateState()"></button>
</div>