<!DOCTYPE html>
<html>
  <head>
    <style>
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
  
      li {
        float: left;
      }
  
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
  
      li a:hover {
        background-color: #04aa6d;
      }
  
      .active {
        background-color: #333;
      }
    </style>
  </head>
  <body>
    <ul>
      <li><a class="active" href="#upload" routerLink="/upload">Upload</a></li>
      <li><a href="#details" routerLink="/details">Details</a></li>
      <li><a href="#people" routerLink="/people">People</a></li>
      <li><a href="#summary" routerLink="/summary">Summary</a></li>
    </ul>
  
    <div class="layout-wrapper layout-wrapper-light layout-news-active">
      <div class="content-section implementation">
      <router-outlet></router-outlet>
    </div>
    </div>
  </body>
</html>